<div class="row d-flex justify-content-center align-items-center h-100" style="padding-top: 6.5rem !important;">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card custom-component text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">

          <div class="mb-md-5 mt-md-4 pb-5">

            <h2 class="fw-bold mb-2 text-uppercase">Inicio de Sesion</h2>
            <p class="text-white-50 mb-5">Porfavor ingresa tu correo y contraseña!</p>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" [(ngModel)]="email" placeholder="name@example.com">
                <label for="floatingInput" style="color: lightgray;">Correo</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" class="form-control" [(ngModel)]="password" id="floatingInputpassword" placeholder="******">
                <label for="floatingInputpassword" style="color: lightgray;">Contraseña</label>
              </div>

            <p class="small mb-5 pb-lg-2"><a class="text-white-50" >Olvidaste tu contraseña?</a></p>

            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-lg px-5" type="button" (click)="login()">Iniciar Sesion</button>


          </div>

          <div>
            <p class="mb-0">No tienes una cuenta? <a href="#!" class="text-white fw-bold">Registrate</a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>